.cardWrapper {
  width: 350px;
  height: 200px;
  padding: 1rem;
  .contentWrapper {
    .iconwrapper {
      color: #ffff;
    }
    .countTitle {
      color: #ffff;
    }
    .cardTitle {
      color: #ffff;
    }
  }
  .cardImg {
  }
}
